@import url('./color.css');

/* Navigation Rail */
.scroll-nav-rail {
  position: fixed;
  right: 30px;
  top: 20px;
  bottom: 20px;
  height: auto;
  width: 12px;
  background: var(--controlBackgroundColor);
  border: 1px solid var(--controlBackgroundColor);
  border-radius: 9999px;
  padding: 20px 0;
  box-sizing: border-box;
  /* box-shadow: 0 4px 10px var(--shadowColor); */
}

/* Navigation Nodes */
.nav-node {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--controlColor);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Invisible larger hit area */
.nav-node::after {
  content: '';
  position: absolute;
  transform: translate(-11px, -11px);
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%; 
}

/* Node hover effect */
.nav-node:hover {
  background: transparent;
  transform: scale(2.5);
}

/* Icon inside node */
.nav-node .nav-icon {
  position: absolute;
  top: -37%;
  left: -37%;
  transform: (0.5);
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 14px;
  color: var(--labelColor);
}

.nav-node img.nav-icon {
  width: 18px;
  height: 18px;
}

/* Show icon on hover */
.nav-node:hover .nav-icon {
  opacity: 1;
  transform: scale(1);
}

/* Active node styling */
.nav-node.active {
  background: transparent;
  transform: scale(2.5);
}

/* Show icon on active */
.nav-node.active .nav-icon {
  opacity: 1;
  transform: scale(1);
}

/* Kiwi-drive icon rotation */
.nav-node #kiwi-icon {
  transform: rotate(30deg);
  transition: transform 0.5s ease-in-out;
}
.nav-node:hover #kiwi-icon {
  transform: rotate(210deg);
}
.nav-node.active #kiwi-icon {
  transform: rotate(210deg);
}

/* Tooltip */
.nav-node .tooltip {
  position: absolute;
  top: 50%;
  right: 180%;
  transform: translateY(-50%);
  background: var(--labelColor);
  color: var(--controlBackgroundColor);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.nav-node:hover .tooltip {
  opacity: 1;
}
